[user]
	email = hello@illyism.com
	name = Ilias Ismanalijev
[color]
  ui = true
[push]
  default = simple
[github]
  user = illyism
[hub]
  protocol = https
[color "decorate"]
  head = bold white
  branch = bold magenta
  remotebranch = blue
  tag = bold red
[color "diff"]
  whitespace = red reverse
[help]
  autocorrect = 18